.title {
  font-size: 1.2rem;
  color: var(--accent-color);
  font-weight: 500;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--text-muted);
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}


/* RESPONSIVE */
@media (min-width: 768px) {

  .title {
    font-size: var(--font-size-md)
  }

  .subtitle {
    font-size: 1.5rem
  }

  .text-font {
    font-size: 1.3rem;
  }
}